*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
/* background-color: bal; */
}

.contaner{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #dde1e7;
}

.contaner .box{
    width: 350px;
    height: 450px;
    padding: 20px;
    background: #dde1e7;
    border-radius: 8px;
    /* box-shadow: -3px -3px 7px #ffffff73 , 3px 3px 5px rgba(94,104,121,0.288); */
    box-shadow:-3px -3px 7px #9043a1f6 , 3px 3px 5px rgba(173, 40, 40, 0.971);
}
.contaner .box:hover{
    color:rgb(63, 58, 58);
    text-shadow: 5px  #cf1d1d73 ;
    box-shadow:-3px -3px 7px #dd1a1ab6 , 3px 3px 5px rgba(188, 38, 183, 0.846);
}

.contaner .box .image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    padding: 15px;
    margin: 0 auto 20px auto;
    background: #dde1e7;
    box-shadow: -3px -3px 7px #f16c0db6 , 3px 3px 5px rgba(241, 205, 44, 0.846);
}

.contaner .box .image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;  
    
}


.contaner .box h2{
    text-align: center;
    margin: 8px 0;
}

.contaner .box p.bio{
    text-align: center;
}

.contaner .box .social_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.contaner .box .social_icon .s_img{
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
    margin: 10px 8px;
    cursor: pointer;
    box-shadow: -3px -3px 7px #ffffff73 , 3px 3px 5px rgba(94,104,121,0.288);    
}
.contaner .box .social_icon .s_img:hover{
    box-shadow: -3px -3px 7px #d9151573 , 3px 3px 5px rgba(94,104,121,0.288);    
   
}
.contaner .box .social_icon .s_img img{
    width: 21px;
    height: 21px;
    display: flex;
    margin: 3px auto;
}

.contaner .box .button{
    width: 90%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contaner .box .button .message{
    width: 130px;
    height: 40px;
    font-size: 17px;
    padding: 5px;
    background: #dde1e7;
    border: 0;
    outline: none;
    cursor: pointer;
    box-shadow: -3px -3px 7px #ffffff73 , 3px 3px 5px rgba(116, 20, 133, 0.521);
}
.contaner .box .button .message:hover{
    box-shadow: -3px -3px 7px #50404073 , 3px 3px 5px rgba(94,104,121,0.288);    
   
}

.contaner .box .button .subs{
    width: 130px;
    height: 40px;
    font-size: 17px;
    padding: 5px;
    background: #dde1e7;
    border: 0;
    outline: none;
    cursor: pointer;
    box-shadow: -3px -3px 7px #ffffff73 , 3px 3px 5px rgba(116, 20, 133, 0.521);
}
.contaner .box .button .subs:hover{
    box-shadow: -3px -3px 7px #513e3e73 , 3px 3px 5px rgba(94,104,121,0.288);    
  
}
.contaner .box .likes{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    
}


.contaner .box .likes button{
    width: 100px;
    height: 20px;
    background: none;
    color: gray;
    transition: color 0.3s ease;
   
    
}
.contaner .box .likes button.active {
    color: red;
  }

.contaner .box .likes button i{
    margin-right: 8px;
}

.contaner .box .likes .like , .comment{
    color: grey;
    border-right: 1px solid #919191;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    color: #645c5c;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: block;
    margin-bottom: 10px;

}
.contaner .box .likes .comment button.active {
    color: red;
}


.contaner .box .likes .share{
    border: 0;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #645c5c;
}